extends layouts/main

block content
    .form-container
        form(acrion=routes.login, method="post")
            input(type="email", name="email", placeholder="Email", equired=true)
            input(type="password", name="password", placeholder="Password", equired=true)
            input(type="submit", value="Log In")
        include partials/socialLogin
